<{if $projects_show_breadcrumb == TRUE}>
	<div class="projects_headertable">
			<{if $projects_module_home}>
				<span class="projects_modulename"><{$projects_module_home}></span>
			<{/if}>
			<{if $projects_completed_path}>
				<span class="projects_breadcrumb"><{if $projects_module_home}>&gt; <{/if}><{$projects_completed_path}>
			<{/if}>
			<{if $projects_category_path}>
				<span class="projects_breadcrumb"><{if $projects_module_home}>&gt; <{/if}><{$projects_category_path}></span>
			<{/if}>
	</div>
<{else}>
	<{if $projects_page_title}>
		<h1>
			<{$projects_page_title}><{if $projects_tag_name}> - <{$projects_tag_name}><{/if}>
		</h1>
	<{/if}>
<{/if}>